@using BaseLibrary.Entities
@using System.ComponentModel.DataAnnotations


<div class="card border-success">
    <EditForm Model="City" OnValidSubmit="Save">
        <div class="card-body">
            <div class="form-group">
                <label for="form-label">Id:</label>
                <input @bind="City.Id" class="form-control" disabled />
                <ValidationMessage For="@(() => City.Id)" />
            </div>
            <div class="form-group">
                <label for="form-label">Name:</label>
                <InputText @bind-Value="City.Name" class="form-control" />
                <ValidationMessage For="@(() => City.Name)" />
            </div>
            <div class="form-group mt-3 mb-3">
                <label for="form-label">Select Country:</label>
                @if (City.Country != null)
                {
                    string slected = City.Country!.Name;
                    <select id="Countryes" @onchange="OnValueChange">
                        <option value="0">@slected</option>
                        @foreach (var item in Countryes)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                }
                else
                {
                    <select id="Countryes" @onchange="OnValueChange">
                        <option value="0">-- Select a Department --</option>
                        @foreach (var item in Countryes)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                }

            </div>
        </div>
        <div class="card-footer text-center">
            <div class="mx-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
            </div>

        </div>

        <DataAnnotationsValidator />
    </EditForm>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public City City { get; set; } = new();

    [Parameter] public List<Country> Countryes { get; set; } = new();

    [Parameter] public EventCallback<City> HandleSaveOperationEvent { get; set; }


    [Parameter] public string Title { get; set; } = "Add";
    protected override async void OnInitialized()
    {
        Countryes = await countryService.GetAll(Constants.CountryBaseUrl);
        StateHasChanged();
    }


    async Task Save()
    {
        var returnData = $"{City.Name};{City.CountryId.ToString()}";

        if (string.IsNullOrEmpty(City.Name) || City.CountryId <= 0)
        {

        }
        else
        {


            await HandleSaveOperationEvent.InvokeAsync(City);
            await BlazoredModal.CloseAsync(ModalResult.Ok(returnData));
        }

    }

    public void OnValueChange(ChangeEventArgs args)
    {
        if (int.TryParse(args.Value?.ToString(), out int CountryId))
        {
            City.CountryId = CountryId;
        }
    }

    async Task Cancel() => await BlazoredModal.CancelAsync();


}

