@using BaseLibrary.Entities
@using System.ComponentModel.DataAnnotations


<div class="card border-success">
    <EditForm Model="County" OnValidSubmit="Save">
        <div class="card-body">
            <div class="form-group">
                <label for="form-label">Id:</label>
                <input @bind="County.Id" class="form-control" disabled />
                <ValidationMessage For="@(() => County.Id)" />
            </div>
            <div class="form-group">
                <label for="form-label">Name:</label>
                <InputText @bind-Value="County.Name" class="form-control" />
                <ValidationMessage For="@(() => County.Name)" />
            </div>
            <div class="form-group mt-3 mb-3">
                <label for="form-label">Select Country:</label>
                @if (County.Country != null)
                {
                    string slected = County.Country!.Name;
                    <select id="Countries" @onchange="OnValueChange">
                        <option value="0">@slected</option>
                        @foreach (var item in Countries)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                }
                else
                {
                    <select id="Countries" @onchange="OnValueChange">
                        <option value="0">-- Select a Country  --</option>
                        @foreach (var item in Countries)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                }

            </div>
        </div>
        <div class="card-footer text-center">
            <div class="mx-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
            </div>

        </div>

        <DataAnnotationsValidator />
    </EditForm>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public County County { get; set; } = new();

    [Parameter] public List<Country> Countries { get; set; } = new();

    [Parameter] public EventCallback<County> HandleSaveOperationEvent { get; set; }


    [Parameter] public string Title { get; set; } = "Add";
    protected override async void OnInitialized()
    {
        Countries = await countryService.GetAll(Constants.CountryBaseUrl);
        StateHasChanged();
    }


    async Task Save()
    {
        //var returnData = $"{County.Name};{County.CountryId.ToString()}";
        var returnData = $"{County.Name};{County.CountryId.ToString()}";

        if (string.IsNullOrEmpty(County.Name) || County.CountryId <= 0)
        {

        }
        else
        {


            await HandleSaveOperationEvent.InvokeAsync(County);
            await BlazoredModal.CloseAsync(ModalResult.Ok(returnData));
        }

    }

    public void OnValueChange(ChangeEventArgs args)
    {
        if (int.TryParse(args.Value?.ToString(), out int CountryId))
        {
            County.CountryId = CountryId;
        }
    }

    async Task Cancel() => await BlazoredModal.CancelAsync();


}

