@using BaseLibrary.Entities
@using System.ComponentModel.DataAnnotations


<div class="card border-success">
    <EditForm Model="Town" OnValidSubmit="Save">
        <div class="card-body">
            <div class="form-group">
                <label for="form-label">Id:</label>
                <input @bind="Town.Id" class="form-control" disabled />
                <ValidationMessage For="@(() => Town.Id)" />
            </div>
            <div class="form-group">
                <label for="form-label">Name:</label>
                <InputText @bind-Value="Town.Name" class="form-control" />
                <ValidationMessage For="@(() => Town.Name)" />
            </div>
            <div class="form-group mt-3 mb-3">
                <label for="form-label">Select County:</label>
                @if (Town.County != null)
                {
                    string slected = Town.County!.Name;
                    <select id="Counties" @onchange="OnValueChange">
                        <option value="0">@slected</option>
                        @foreach (var item in Counties)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                }
                else
                {
                    <select id="Counties" @onchange="OnValueChange">
                        <option value="0">-- Select a County --</option>
                        @foreach (var item in Counties)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                }

            </div>
        </div>
        <div class="card-footer text-center">
            <div class="mx-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
            </div>

        </div>

        <DataAnnotationsValidator />
    </EditForm>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public Town Town { get; set; } = new();

    [Parameter] public List<County> Counties { get; set; } = new();

    [Parameter] public EventCallback<Town> HandleSaveOperationEvent { get; set; }


    [Parameter] public string Title { get; set; } = "Add";
    protected override async void OnInitialized()
    {
        Counties = await countyService.GetAll(Constants.CountyBaseUrl);
        StateHasChanged();
    }


    async Task Save()
    {
        var returnData = $"{Town.Name};{Town.CountyId.ToString()}";

        if (string.IsNullOrEmpty(Town.Name) || Town.CountyId <= 0)
        {

        }
        else
        {


            await HandleSaveOperationEvent.InvokeAsync(Town);
            await BlazoredModal.CloseAsync(ModalResult.Ok(returnData));
        }

    }

    public void OnValueChange(ChangeEventArgs args)
    {
        if (int.TryParse(args.Value?.ToString(), out int CountyId))
        {
            Town.CountyId = CountyId;
        }
    }

    async Task Cancel() => await BlazoredModal.CancelAsync();


}

